<h2>Template - Switches</h2>
<hr>


<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Genero
        </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio"  id="flexRadioDefault1" value="M" formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="flexRadioDefault2" value="F" formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault2">
                  Femenino
                </label>
              </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Notificaciones
        </label>
        <div class="col-sm-9 mt-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" formControlName="notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Recibir notifiaciones</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="terminos">
                <label class="form-check-label" for="flexCheckDefault">
                  Terminos y condiciones de uso
                </label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">
                Guardar
            </button>
        </div>
    </div>


</form>

<pre>
    {{persona | json}}
</pre>

<pre>
    Valid: {{miFormulario.valid}}
</pre>

<pre>
    {{miFormulario.value | json}}
</pre>
