<h2>Template: Dinamicos</h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
            Nombre
        </label>
        <div class="col-sm-9">
             <input class="form-control" placeholder="Nombre..." formControlName="nombre">
             <span class="form-text text-danger" *ngIf="validar('nombre')">Este campo es obligatorio</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
           Agregar
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito" (keyUp.Enter)="agregarFavorito()" [formControl]="nuevoFavorito">
                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
            </div>

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
            Juegos favoritos
        </label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group" *ngFor="let favorito of favoritosArr.controls; let i = index">
             <input  class="form-control mb-1" [formControlName]="i">
             <button class="btn btn-outline-danger mb-1" type="button" (click)="borrar(i)">Borrar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
             <button type="submit" class="btn btn-primary float-end">
                Guardar
             </button>
        </div>
    </div>


</form>

<!--<span>{{persona | json}}</span>-->

<span>{{nuevoFavorito.value}}</span>
