<h2>Templates</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of templateMenu" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>
<br/>
<h2>Reactive</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of reactiveMenu" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>

<br>    
<h2>Validaciones</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of authMenu" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>